

// $gap: 64px;

// @import "vars";
@import "~bulma";


.container {
  margin: 0 auto;
  position: relative;
  // @include desktop {
  //   max-width: 980px;
  //   width: 980px;
  // }
  @include mobile {
    max-width: 1170px;
    width: 1170px;
  }
  // @include fullhd {
  //   max-width: 1170px;
  //   width: 1170px;
  // }
}
